{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="{{ url_for('buy') }}" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Input Stock Symbol" type="text"/>
                <input autocomplete="off" autofocus class="form-control" name="shares" placeholder="Input Amount of Shares" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Buy</button>
            </div>
    </form>
{% endblock %}
